nav {
    background-color: #000000;
    list-style: none;
    font-weight: 25px;
}
nav ul li a{
    color: white ;
    font-size: 30px;
    text-decoration: none;   
} 
nav ul li a:hover{
font-weight: 20px;
}
.ul-submenu{
    display: none;
}
